swagger: '2.0'
info:
  contact:
    name: HyperFleet Team
    url: 'https://github.com/openshift-hyperfleet'
  description: >-
    HyperFleet API provides simple CRUD operations for managing cluster
    resources and their status history.


    **Architecture**: Simple CRUD only, no business logic, no event creation.

    Sentinel operator handles all orchestration logic.

    Adapters handle the specifics of managing spec
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  title: HyperFleet API
  version: 1.0.19
host: hyperfleet.redhat.com
basePath: /
schemes:
  - https
paths:
  /api/hyperfleet/v1/channels:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ChannelList'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: >-
        Returns a paginated list of channels, optionally filtered by labels or
        TSL query.
      operationId: getChannels
      summary: List channels
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ChannelCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: Creates a new channel.
      operationId: postChannel
      summary: Create channel
  '/api/hyperfleet/v1/channels/{channel_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: >-
        Marks the channel for deletion. Returns 409 if versions still exist
        (RESTRICT policy).
      operationId: deleteChannelById
      summary: Request channel deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - in: path
          name: channel_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: Returns a single channel by its ID.
      operationId: getChannelById
      summary: Get channel by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ChannelPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Channel'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Channels
      description: Patches a channel by ID. Supports partial updates to spec and labels.
      operationId: patchChannelById
      summary: Patch channel by ID
  '/api/hyperfleet/v1/channels/{channel_id}/versions':
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/VersionList'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Returns a paginated list of versions for a channel.
      operationId: getVersionsByChannelId
      summary: List versions for channel
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VersionCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Creates a new version under a channel.
      operationId: postVersion
      summary: Create version
  '/api/hyperfleet/v1/channels/{channel_id}/versions/{version_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: path
          name: version_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Marks a version for deletion.
      operationId: deleteVersionById
      summary: Request version deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: path
          name: version_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Returns a single version by its ID within a channel.
      operationId: getVersionById
      summary: Get version by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: channel_id
          required: true
          type: string
        - in: path
          name: version_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VersionPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Version'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Versions
      description: Patch a version by ID. Supports partial updates to spec and labels.
      operationId: patchVersionById
      summary: Patch version by ID
  /api/hyperfleet/v1/clusters:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/ClusterList'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: Returns a list of all clusters.
      operationId: getClusters
      summary: List clusters
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ClusterCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: >-
        Create a new cluster resource.


        **Note**: The `status` object in the response is read-only and computed
        by the service.

        It is NOT part of the request body. Initially,

        status.conditions will include mandatory "LastKnownReconciled" and
        "Reconciled" conditions.
      operationId: postCluster
      summary: Create cluster
  '/api/hyperfleet/v1/clusters/{cluster_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          examples:
            application/json:
              created_by: user-123@example.com
              created_time: '2021-01-01T00:00:00Z'
              deleted_by: user-123@example.com
              deleted_time: '2021-01-01T10:05:00Z'
              generation: 2
              href: >-
                https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
              id: 019466a0-8f8e-7abc-9def-0123456789ab
              kind: Cluster
              labels:
                environment: production
                team: platform
              name: cluster-123
              spec:
                dns:
                  baseDomain: example.com
                networking:
                  clusterNetwork:
                    - cidr: 10.10.0.0/16
                      hostPrefix: 24
                  serviceNetwork:
                    - 10.96.0.0/12
                platform:
                  template:
                    network: network-123
                    projectID: project-123
                    region: us-central1
                    subnet: subnet-123
                    zone: us-central1-a
                  type: template
                release:
                  image: >-
                    registry.redhat.io/openshift4/ose-cluster-version-operator:v4.14.0
                  version: 4.14.0
              status:
                conditions:
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters reported Available=True or
                      Finalized=True at the current generation
                    observed_generation: 2
                    reason: ReconciledAll
                    status: 'True'
                    type: Reconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters report Available=True for the
                      tracked generation
                    observed_generation: 2
                    reason: AllAdaptersReconciled
                    status: 'True'
                    type: LastKnownReconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: This adapter1 is available
                    observed_generation: 2
                    reason: This adapter1 is available
                    status: 'True'
                    type: Adapter1Successful
                  - created_time: '2021-01-01T10:01:00Z'
                    last_transition_time: '2021-01-01T10:01:00Z'
                    last_updated_time: '2021-01-01T10:01:00Z'
                    message: This adapter2 is available
                    observed_generation: 2
                    reason: This adapter2 is available
                    status: 'True'
                    type: Adapter2Successful
              updated_by: user-123@example.com
              updated_time: '2021-01-01T10:02:00Z'
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: >-
        Marks the cluster for deletion by setting deleted_time to the current
        time, cascades to its nodepools.

        The cluster remains in the database until it is fully deleted.

        Returns the updated cluster with generation incremented.
      operationId: deleteClusterById
      summary: Request cluster deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: Returns a single cluster by its ID.
      operationId: getClusterById
      summary: Get cluster by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ClusterPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/Cluster'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - Clusters
      description: Patch a specific cluster by ID
      operationId: patchClusterById
      summary: Patch cluster by ID
  '/api/hyperfleet/v1/clusters/{cluster_id}/nodepools':
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePoolList'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Returns the list of all nodepools for a cluster
      operationId: getNodePoolsByClusterId
      summary: List all nodepools for cluster
    post:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NodePoolCreateRequest'
      responses:
        '201':
          description: >-
            The request has succeeded and a new resource has been created as a
            result.
          schema:
            $ref: '#/definitions/NodePoolCreateResponse'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Create a NodePool for a cluster
      operationId: createNodePool
      summary: Create nodepool
  '/api/hyperfleet/v1/clusters/{cluster_id}/nodepools/{nodepool_id}':
    delete:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: NodePool ID
          in: path
          name: nodepool_id
          required: true
          type: string
      responses:
        '202':
          description: >-
            The request has been accepted for processing, but processing has not
            yet completed.
          examples:
            application/json:
              created_by: user-123@example.com
              created_time: '2021-01-01T00:00:00Z'
              deleted_by: user-123@example.com
              deleted_time: '2021-01-01T10:05:00Z'
              generation: 2
              href: >-
                https://api.hyperfleet.com/v1/nodepools/019466a1-2b3c-7def-8abc-456789abcdef
              id: 019466a1-2b3c-7def-8abc-456789abcdef
              kind: NodePool
              labels:
                environment: production
                pooltype: worker
              name: worker-pool-1
              owner_references:
                href: >-
                  https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
                id: 019466a0-8f8e-7abc-9def-0123456789ab
                kind: Cluster
              spec:
                autoscaling:
                  enabled: true
                  maxNodes: 10
                  minNodes: 1
                  targetCPUUtilization: 80
                nodeCount: 3
                platform:
                  template:
                    diskSize: 100
                    diskType: pd-standard
                    labels:
                      managedby: hyperfleet
                      team: platform
                    machineType: n1-standard-4
                    preemptible: false
                    zones:
                      - us-central1-a
                      - us-central1-b
                  type: template
              status:
                conditions:
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters reported Available=True or
                      Finalized=True at the current generation
                    observed_generation: 2
                    reason: ReconciledAll
                    status: 'True'
                    type: Reconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: >-
                      All required adapters report Available=True for the
                      tracked generation
                    observed_generation: 2
                    reason: AllAdaptersReconciled
                    status: 'True'
                    type: LastKnownReconciled
                  - created_time: '2021-01-01T10:00:00Z'
                    last_transition_time: '2021-01-01T10:00:00Z'
                    last_updated_time: '2021-01-01T10:00:00Z'
                    message: NodePool validation passed
                    observed_generation: 2
                    reason: All validations passed
                    status: 'True'
                    type: ValidationSuccessful
                  - created_time: '2021-01-01T10:01:00Z'
                    last_transition_time: '2021-01-01T10:01:00Z'
                    last_updated_time: '2021-01-01T10:01:00Z'
                    message: NodePool has 3 nodes running
                    observed_generation: 2
                    reason: NodePool provisioned successfully
                    status: 'True'
                    type: NodePoolSuccessful
              updated_by: user-123@example.com
              updated_time: '2021-01-01T10:02:00Z'
          schema:
            $ref: '#/definitions/NodePool'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: >-
        Marks the nodepool for deletion by setting deleted_time and deleted_by.
        Does not affect the parent cluster.

        Returns the updated nodepool with generation incremented.
      operationId: deleteNodePoolById
      summary: Request nodepool deletion
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: NodePool ID
          in: path
          name: nodepool_id
          required: true
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePool'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Returns specific nodepool
      operationId: getNodePoolById
      summary: Get nodepool by ID
    patch:
      consumes:
        - application/json
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: Cluster ID
          in: path
          name: cluster_id
          required: true
          type: string
        - description: NodePool ID
          in: path
          name: nodepool_id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/NodePoolPatchRequest'
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePool'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '404':
          description: The server cannot find the requested resource.
        '409':
          description: The request conflicts with the current state of the server.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Patch a specific nodepool within a cluster
      operationId: patchNodePoolById
      summary: Patch nodepool by ID
  /api/hyperfleet/v1/nodepools:
    get:
      produces:
        - application/json
        - application/problem+json
      parameters:
        - description: >-
            Filter results using TSL (Tree Search Language) query syntax.

            Examples: `status.conditions.Reconciled='True'`, `name in
            ('c1','c2')`, `labels.region='us-east'`
          in: query
          name: search
          required: false
          type: string
        - default: 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - default: 20
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - default: created_time
          in: query
          name: orderBy
          required: false
          type: string
        - enum:
            - asc
            - desc
          in: query
          name: order
          required: false
          type: string
      responses:
        '200':
          description: The request has succeeded.
          schema:
            $ref: '#/definitions/NodePoolList'
        '400':
          description: The server could not understand the request due to invalid syntax.
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/Error'
      security:
        - BearerAuth: []
      tags:
        - NodePools
      description: Returns the list of all nodepools
      operationId: getNodePools
      summary: List all nodepools for cluster
definitions:
  AcceleratorSpec:
    properties:
      count:
        minimum: 1
        type: integer
      type:
        type: string
    required:
      - type
      - count
    type: object
  AutoscalingSpec:
    properties:
      enabled:
        type: boolean
      maxNodes:
        minimum: 1
        type: integer
      minNodes:
        minimum: 0
        type: integer
      scaleDownDelay:
        type: string
      scaleUpDelay:
        type: string
      targetCPUUtilization:
        maximum: 100
        minimum: 1
        type: integer
      targetMemoryUtilization:
        maximum: 100
        minimum: 1
        type: integer
    type: object
  BearerAuth:
    properties:
      scheme:
        enum:
          - bearer
        type: string
      type:
        enum:
          - http
        type: string
    required:
      - type
      - scheme
    type: object
  Channel:
    example:
      created_by: user-123@example.com
      created_time: '2025-06-01T00:00:00Z'
      generation: 1
      href: /api/hyperfleet/v1/channels/019466a2-1234-7abc-9def-0123456789ab
      id: 019466a2-1234-7abc-9def-0123456789ab
      kind: Channel
      labels:
        tier: production
      name: stable
      spec:
        enabled_regex: ^4\.\d+\.\d+$
        is_default: true
      status:
        conditions: []
      updated_by: user-123@example.com
      updated_time: '2025-06-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ChannelSpec'
      status:
        $ref: '#/definitions/ResourceStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - status
    type: object
  ChannelCreateRequest:
    example:
      kind: Channel
      labels:
        tier: production
      name: stable
      spec:
        enabled_regex: ^4\.\d+\.\d+$
        is_default: true
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ChannelSpec'
    required:
      - name
      - spec
    type: object
  ChannelList:
    properties:
      items:
        items:
          $ref: '#/definitions/Channel'
        type: array
      kind:
        type: string
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - kind
      - page
      - size
      - total
      - items
    type: object
  ChannelPatchRequest:
    additionalProperties: false
    example:
      labels:
        tier: staging
      spec:
        enabled_regex: ^4\.17\.\d+$
        is_default: false
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/ChannelSpec'
    type: object
  ChannelSpec:
    properties:
      enabled_regex:
        description: Regex pattern for matching enabled version strings
        type: string
      is_default:
        description: Whether this is the default channel for new clusters
        type: boolean
    required:
      - is_default
      - enabled_regex
    type: object
  Cluster:
    example:
      created_by: user-123@example.com
      created_time: '2021-01-01T00:00:00Z'
      generation: 1
      href: >-
        https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
      id: 019466a0-8f8e-7abc-9def-0123456789ab
      kind: Cluster
      labels:
        environment: production
        team: platform
      name: cluster-123
      spec:
        dns:
          baseDomain: example.com
        networking:
          clusterNetwork:
            - cidr: 10.10.0.0/16
              hostPrefix: 24
          serviceNetwork:
            - 10.96.0.0/12
        platform:
          template:
            network: network-123
            projectID: project-123
            region: us-central1
            subnet: subnet-123
            zone: us-central1-a
          type: template
        release:
          image: 'registry.redhat.io/openshift4/ose-cluster-version-operator:v4.14.0'
          version: 4.14.0
      status:
        conditions:
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters reported Available=True or Finalized=True at
              the current generation
            observed_generation: 1
            reason: ReconciledAll
            status: 'True'
            type: Reconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters report Available=True for the tracked
              generation
            observed_generation: 1
            reason: AllAdaptersReconciled
            status: 'True'
            type: LastKnownReconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: This adapter1 is available
            observed_generation: 1
            reason: This adapter1 is available
            status: 'True'
            type: Adapter1Successful
          - created_time: '2021-01-01T10:01:00Z'
            last_transition_time: '2021-01-01T10:01:00Z'
            last_updated_time: '2021-01-01T10:01:00Z'
            message: This adapter2 is available
            observed_generation: 1
            reason: This adapter2 is available
            status: 'True'
            type: Adapter2Successful
      updated_by: user-123@example.com
      updated_time: '2021-01-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        description: >-
          Generation field is updated on customer updates, reflecting the
          version of the "intent" of the customer
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: Cluster name (unique)
        maxLength: 53
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ClusterSpec'
      status:
        $ref: '#/definitions/ClusterStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - status
    type: object
  ClusterCreateRequest:
    example:
      kind: Cluster
      labels:
        environment: production
        team: platform
      name: cluster-123
      spec:
        dns:
          baseDomain: example.com
        networking:
          clusterNetwork:
            - cidr: 10.10.0.0/16
              hostPrefix: 24
          serviceNetwork:
            - 10.96.0.0/12
        platform:
          template:
            network: network-123
            projectID: project-123
            region: us-central1
            subnet: subnet-123
            zone: us-central1-a
          type: template
        release:
          image: 'registry.redhat.io/openshift4/ose-cluster-version-operator:v4.14.0'
          version: 4.14.0
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: Cluster name (unique)
        maxLength: 53
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/ClusterSpec'
    required:
      - name
      - spec
    type: object
  ClusterList:
    properties:
      items:
        items:
          $ref: '#/definitions/Cluster'
        type: array
      kind:
        type: string
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - kind
      - page
      - size
      - total
      - items
    type: object
  ClusterNetworkEntry:
    properties:
      cidr:
        type: string
      hostPrefix:
        type: integer
    type: object
  ClusterPatchRequest:
    additionalProperties: false
    example:
      labels:
        env: staging
      spec:
        dns:
          baseDomain: example.com
        networking:
          clusterNetwork:
            - cidr: 10.10.0.0/16
              hostPrefix: 24
          serviceNetwork:
            - 10.96.0.0/12
        platform:
          template:
            network: network-123
            projectID: project-123
            region: us-central1
            subnet: subnet-123
            zone: us-central1-a
          type: template
        release:
          image: 'registry.redhat.io/openshift4/ose-cluster-version-operator:v4.14.0'
          version: 4.14.0
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/ClusterSpec'
    type: object
  ClusterPlatform:
    properties:
      network:
        type: string
      projectID:
        type: string
      region:
        type: string
      subnet:
        type: string
      zone:
        type: string
    type: object
  ClusterPlatformSpec:
    properties:
      template:
        $ref: '#/definitions/ClusterPlatform'
      type:
        enum:
          - template
        type: string
    required:
      - type
      - template
    type: object
  ClusterSpec:
    properties:
      dns:
        $ref: '#/definitions/DNSSpec'
      infraID:
        type: string
      networking:
        $ref: '#/definitions/NetworkingSpec'
      platform:
        $ref: '#/definitions/ClusterPlatformSpec'
      release:
        $ref: '#/definitions/ReleaseSpec'
    required:
      - platform
    type: object
  ClusterStatus:
    description: >-
      Cluster status computed from all status conditions.


      This object is computed by the service and CANNOT be modified directly.

      It is aggregated from condition updates posted to
      `/clusters/{id}/statuses`.


      Provides quick overview of all reported conditions.
    properties:
      conditions:
        description: >-
          List of status conditions for the cluster.


          **Mandatory conditions**:

          - `type: "Reconciled"`: Whether the resource's desired state has been
          fully reconciled by all adapters at the current generation.

          - `type: "LastKnownReconciled"`: Sticky cross-generation condition —
          stays True as long as all required adapters were reconciled at a
          common observed generation, even if a newer generation is being
          processed.


          These conditions are present immediately upon resource creation.
        items:
          $ref: '#/definitions/ResourceCondition'
        minItems: 2
        type: array
    required:
      - conditions
    type: object
  DNSSpec:
    properties:
      baseDomain:
        type: string
    type: object
  Error:
    description: RFC 9457 Problem Details error format with HyperFleet extensions
    properties:
      code:
        description: Machine-readable error code in HYPERFLEET-CAT-NUM format
        example: HYPERFLEET-VAL-001
        type: string
      detail:
        description: Human-readable explanation specific to this occurrence
        example: The cluster name field is required
        type: string
      errors:
        description: Field-level validation errors (for validation failures)
        items:
          $ref: '#/definitions/ValidationError'
        type: array
      instance:
        description: URI reference for this specific occurrence
        example: /api/hyperfleet/v1/clusters
        format: uri-reference
        type: string
      status:
        description: HTTP status code
        example: 400
        type: integer
      timestamp:
        description: RFC3339 timestamp of when the error occurred
        example: '2024-01-15T10:30:00Z'
        format: date-time
        type: string
      title:
        description: Short human-readable summary of the problem
        example: Validation Failed
        type: string
      trace_id:
        description: Distributed trace ID for correlation
        example: abc123def456
        type: string
      type:
        description: URI reference identifying the problem type
        example: 'https://api.hyperfleet.io/errors/validation-error'
        format: uri
        type: string
    required:
      - type
      - title
      - status
    type: object
  NetworkingSpec:
    properties:
      clusterNetwork:
        items:
          $ref: '#/definitions/ClusterNetworkEntry'
        type: array
      serviceNetwork:
        items:
          type: string
        type: array
    type: object
  NodePool:
    example:
      created_by: user-123@example.com
      created_time: '2021-01-01T00:00:00Z'
      generation: 1
      href: >-
        https://api.hyperfleet.com/v1/nodepools/019466a1-2b3c-7def-8abc-456789abcdef
      id: 019466a1-2b3c-7def-8abc-456789abcdef
      kind: NodePool
      labels:
        environment: production
        pooltype: worker
      name: worker-pool-1
      owner_references:
        href: >-
          https://api.hyperfleet.com/v1/clusters/019466a0-8f8e-7abc-9def-0123456789ab
        id: 019466a0-8f8e-7abc-9def-0123456789ab
        kind: Cluster
      spec:
        autoscaling:
          enabled: true
          maxNodes: 10
          minNodes: 1
          targetCPUUtilization: 80
        nodeCount: 3
        platform:
          template:
            diskSize: 100
            diskType: pd-standard
            labels:
              managedby: hyperfleet
              team: platform
            machineType: n1-standard-4
            preemptible: false
            zones:
              - us-central1-a
              - us-central1-b
          type: template
      status:
        conditions:
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters reported Available=True or Finalized=True at
              the current generation
            observed_generation: 1
            reason: ReconciledAll
            status: 'True'
            type: Reconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: >-
              All required adapters report Available=True for the tracked
              generation
            observed_generation: 1
            reason: AllAdaptersReconciled
            status: 'True'
            type: LastKnownReconciled
          - created_time: '2021-01-01T10:00:00Z'
            last_transition_time: '2021-01-01T10:00:00Z'
            last_updated_time: '2021-01-01T10:00:00Z'
            message: NodePool validation passed
            observed_generation: 1
            reason: All validations passed
            status: 'True'
            type: ValidationSuccessful
          - created_time: '2021-01-01T10:01:00Z'
            last_transition_time: '2021-01-01T10:01:00Z'
            last_updated_time: '2021-01-01T10:01:00Z'
            message: NodePool has 3 nodes running
            observed_generation: 1
            reason: NodePool provisioned successfully
            status: 'True'
            type: NodePoolSuccessful
      updated_by: user-123@example.com
      updated_time: '2021-01-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        description: >-
          Generation field is updated on customer updates, reflecting the
          version of the "intent" of the customer
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: NodePool name (unique in a cluster)
        maxLength: 15
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      owner_references:
        $ref: '#/definitions/ObjectReference'
      spec:
        $ref: '#/definitions/NodePoolSpec'
      status:
        $ref: '#/definitions/NodePoolStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - owner_references
      - status
    type: object
  NodePoolCreateRequest:
    example:
      labels:
        environment: production
        pooltype: worker
      name: worker-pool-1
      spec:
        autoscaling:
          enabled: true
          maxNodes: 10
          minNodes: 1
          targetCPUUtilization: 80
        nodeCount: 3
        platform:
          template:
            diskSize: 100
            diskType: pd-standard
            labels:
              managedby: hyperfleet
              team: platform
            machineType: n1-standard-4
            preemptible: false
            zones:
              - us-central1-a
              - us-central1-b
          type: template
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: NodePool name (unique in a cluster)
        maxLength: 15
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      spec:
        $ref: '#/definitions/NodePoolSpec'
    required:
      - name
      - spec
    type: object
  NodePoolCreateResponse:
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        description: >-
          Generation field is updated on customer updates, reflecting the
          version of the "intent" of the customer
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        description: NodePool name (unique in a cluster)
        maxLength: 15
        minLength: 3
        pattern: '^[a-z0-9]([-a-z0-9]*[a-z0-9])?$'
        type: string
      owner_references:
        $ref: '#/definitions/ObjectReference'
      spec:
        $ref: '#/definitions/NodePoolSpec'
      status:
        $ref: '#/definitions/NodePoolStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - owner_references
      - status
    type: object
  NodePoolList:
    properties:
      items:
        items:
          $ref: '#/definitions/NodePool'
        type: array
      kind:
        type: string
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - kind
      - page
      - size
      - total
      - items
    type: object
  NodePoolPatchRequest:
    additionalProperties: false
    example:
      labels:
        env: staging
      spec:
        autoscaling:
          enabled: true
          maxNodes: 10
          minNodes: 1
          targetCPUUtilization: 80
        nodeCount: 3
        platform:
          template:
            diskSize: 100
            diskType: pd-standard
            labels:
              managedby: hyperfleet
              team: platform
            machineType: n1-standard-4
            preemptible: false
            zones:
              - us-central1-a
              - us-central1-b
          type: template
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/NodePoolSpec'
    type: object
  NodePoolPlatform:
    properties:
      accelerators:
        items:
          $ref: '#/definitions/AcceleratorSpec'
        type: array
      diskSize:
        minimum: 10
        type: integer
      diskType:
        enum:
          - pd-standard
          - pd-ssd
          - pd-balanced
        type: string
      labels:
        additionalProperties:
          type: string
        type: object
      machineType:
        type: string
      preemptible:
        type: boolean
      taints:
        items:
          $ref: '#/definitions/TaintSpec'
        type: array
      zones:
        items:
          type: string
        type: array
    type: object
  NodePoolPlatformSpec:
    properties:
      template:
        $ref: '#/definitions/NodePoolPlatform'
      type:
        enum:
          - template
        type: string
    required:
      - type
      - template
    type: object
  NodePoolSpec:
    properties:
      autoscaling:
        $ref: '#/definitions/AutoscalingSpec'
      nodeCount:
        minimum: 0
        type: integer
      platform:
        $ref: '#/definitions/NodePoolPlatformSpec'
    required:
      - platform
    type: object
  NodePoolStatus:
    description: |-
      NodePool status computed from all status conditions.

      This object is computed by the service and CANNOT be modified directly.
    properties:
      conditions:
        description: >-
          List of status conditions for the nodepool.


          **Mandatory conditions**:

          - `type: "Reconciled"`: Whether the resource's desired state has been
          fully reconciled by all adapters at the current generation.

          - `type: "LastKnownReconciled"`: Sticky cross-generation condition —
          stays True as long as all required adapters were reconciled at a
          common observed generation, even if a newer generation is being
          processed.


          These conditions are present immediately upon resource creation.
        items:
          $ref: '#/definitions/ResourceCondition'
        minItems: 2
        type: array
    required:
      - conditions
    type: object
  ObjectReference:
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
    type: object
  OrderDirection:
    enum:
      - asc
      - desc
    type: string
  ReleaseSpec:
    properties:
      channelGroup:
        type: string
      image:
        type: string
      version:
        type: string
    type: object
  ResourceCondition:
    description: >-
      Condition in Cluster/NodePool status

      Used for semantic condition types: "ValidationSuccessful",
      "DNSSuccessful", "NodePoolSuccessful", etc.

      Includes observed_generation and last_updated_time to track
      adapter-specific state
    properties:
      created_time:
        description: When this condition was first created (API-managed)
        format: date-time
        type: string
      last_transition_time:
        description: >-
          When this condition last transitioned status (API-managed)

          Only updated when status changes (True/False), not when reason/message
          changes
        format: date-time
        type: string
      last_updated_time:
        description: >-
          When the corresponding adapter last reported (API-managed)

          Updated every time the adapter PUTs, even if condition status hasn't
          changed

          Copied from AdapterStatus.last_report_time
        format: date-time
        type: string
      message:
        description: Human-readable message
        type: string
      observed_generation:
        description: Generation of the spec that this condition reflects
        format: int32
        type: integer
      reason:
        description: Machine-readable reason code
        type: string
      status:
        $ref: '#/definitions/ResourceConditionStatus'
      type:
        description: Condition type
        type: string
    required:
      - type
      - last_transition_time
      - status
      - observed_generation
      - created_time
      - last_updated_time
    type: object
  ResourceConditionStatus:
    description: Status value for resource conditions
    enum:
      - 'True'
      - 'False'
    type: string
  ResourceStatus:
    description: |-
      Aggregated status of the resource, populated by the status aggregation
      pipeline from adapter condition reports.
    properties:
      conditions:
        items:
          $ref: '#/definitions/ResourceCondition'
        type: array
    required:
      - conditions
    type: object
  TaintSpec:
    properties:
      effect:
        enum:
          - NoSchedule
          - PreferNoSchedule
          - NoExecute
        type: string
      key:
        type: string
      value:
        type: string
    required:
      - key
      - effect
    type: object
  ValidationError:
    description: Field-level validation error detail
    properties:
      constraint:
        description: The validation constraint that was violated
        enum:
          - required
          - min
          - max
          - min_length
          - max_length
          - pattern
          - enum
          - format
          - unique
        example: required
        type: string
      field:
        description: JSON path to the field that failed validation
        example: spec.name
        type: string
      message:
        description: Human-readable error message for this field
        example: Cluster name is required
        type: string
      value:
        description: The invalid value that was provided (if safe to include)
    required:
      - field
      - message
    type: object
  Version:
    example:
      created_by: user-123@example.com
      created_time: '2025-06-01T00:00:00Z'
      generation: 1
      href: >-
        /api/hyperfleet/v1/channels/019466a2-1234-7abc-9def-0123456789ab/versions/019466a3-5678-7abc-9def-0123456789ab
      id: 019466a3-5678-7abc-9def-0123456789ab
      kind: Version
      labels: {}
      name: 4.17.12
      owner_references:
        href: /api/hyperfleet/v1/channels/019466a2-1234-7abc-9def-0123456789ab
        id: 019466a2-1234-7abc-9def-0123456789ab
        kind: Channel
      spec:
        enabled: true
        is_default: true
        raw_version: 4.17.12
        release_image: 'quay.io/openshift-release-dev/ocp-release:4.17.12-multi'
      status:
        conditions: []
      updated_by: user-123@example.com
      updated_time: '2025-06-01T10:02:00Z'
    properties:
      created_by:
        description: Identity that created the resource
        format: email
        type: string
      created_time:
        description: Timestamp when the resource was created
        format: date-time
        type: string
      deleted_by:
        description: Identity that requested deletion; omitted if not marked for deletion
        format: email
        type: string
      deleted_time:
        description: >-
          Timestamp when deletion was requested; omitted if not marked for
          deletion
        format: date-time
        type: string
      generation:
        format: int32
        minimum: 1
        type: integer
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        type: string
      owner_references:
        $ref: '#/definitions/ObjectReference'
      spec:
        $ref: '#/definitions/VersionSpec'
      status:
        $ref: '#/definitions/ResourceStatus'
      updated_by:
        description: Identity that last updated the resource
        format: email
        type: string
      updated_time:
        description: Timestamp when the resource was last updated
        format: date-time
        type: string
    required:
      - name
      - spec
      - created_time
      - updated_time
      - created_by
      - updated_by
      - generation
      - owner_references
      - status
    type: object
  VersionCreateRequest:
    example:
      kind: Version
      labels: {}
      name: 4.17.12
      spec:
        enabled: true
        is_default: true
        raw_version: 4.17.12
        release_image: 'quay.io/openshift-release-dev/ocp-release:4.17.12-multi'
    properties:
      href:
        description: Resource URI
        type: string
      id:
        description: Resource identifier
        type: string
      kind:
        description: Resource kind
        type: string
      labels:
        additionalProperties:
          type: string
        description: 'labels for the API resource as pairs of name:value strings'
        type: object
      name:
        maxLength: 63
        minLength: 1
        type: string
      spec:
        $ref: '#/definitions/VersionSpec'
    required:
      - name
      - spec
    type: object
  VersionList:
    properties:
      items:
        items:
          $ref: '#/definitions/Version'
        type: array
      kind:
        type: string
      page:
        format: int32
        type: integer
      size:
        format: int32
        type: integer
      total:
        format: int32
        type: integer
    required:
      - kind
      - page
      - size
      - total
      - items
    type: object
  VersionPatchRequest:
    additionalProperties: false
    example:
      labels:
        deprecated: 'true'
      spec:
        enabled: false
        is_default: false
        raw_version: 4.17.12
        release_image: 'quay.io/openshift-release-dev/ocp-release:4.17.12-multi'
    minProperties: 1
    properties:
      labels:
        additionalProperties:
          type: string
        type: object
      spec:
        $ref: '#/definitions/VersionSpec'
    type: object
  VersionSpec:
    properties:
      enabled:
        description: Whether this version is enabled for provisioning
        type: boolean
      end_of_life_time:
        description: When this version reaches end of life
        format: date-time
        type: string
      is_default:
        description: Whether this is the default version for its channel
        type: boolean
      raw_version:
        description: 'Raw version string (e.g., "4.17.12")'
        type: string
      release_image:
        description: Container image reference for the release
        type: string
    required:
      - raw_version
      - enabled
      - is_default
      - release_image
    type: object
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
tags:
  - name: Clusters
  - name: NodePools
  - name: Channels
  - name: Versions
x-components:
  parameters:
    QueryParams.order:
      enum:
        - asc
        - desc
      in: query
      name: order
      required: false
      type: string
    QueryParams.orderBy:
      default: created_time
      in: query
      name: orderBy
      required: false
      type: string
    QueryParams.page:
      default: 1
      format: int32
      in: query
      name: page
      required: false
      type: integer
    QueryParams.pageSize:
      default: 20
      format: int32
      in: query
      name: pageSize
      required: false
      type: integer
    SearchParams:
      description: >-
        Filter results using TSL (Tree Search Language) query syntax.

        Examples: `status.conditions.Reconciled='True'`, `name in ('c1','c2')`,
        `labels.region='us-east'`
      in: query
      name: search
      required: false
      type: string
